<h1>ユーザー一覧</h1>
<hr>
<p><%= link_to "投稿画面へ", new_user_path ,class:"btn btn-info full-button"%></p>
<table class="table ">
  <tbody>
      <% @users.each do |user| %>
      <tr>
        <th scope="col"><%= user.name %></th>
        <th >
          <%= link_to "削除", user_path(user.id), method: :delete, data: { confirm: '削除しますか？' } ,class:"btn btn-danger float-right item-btn"%>
          <%= link_to "編集", edit_user_path(user.id), method: :get  ,class:"btn btn-success float-right item-btn"%>
          <%= link_to "詳細", user_path(user.id), method: :get ,class:"btn btn-primary float-right item-btn" %>
      </tr>
      <% end %>
  </tbody>
</table>
